<!-- Toolbar && Toolbar Rows -->
<!-- Search -->

<!-- SideNav && Content Container-->
<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewPort
    [attr.role]="isHandset$ | async"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <!-- SideNav List Toolbar -->
    <mat-toolbar>Menu</mat-toolbar>
    <!-- SideNav List -->
    <mat-nav-list>
      <!-- SideNav Items -->
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()"
        >Kanban Demo</a
      >
      <a mat-list-item routerLink="/customers" (click)="drawer.close()"
        >SSR Demo</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <!-- Content Toolbar -->
    <mat-toolbar>
      <button
        *ngIf="isHandset$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🔥 Angular Firestarter</span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">🍱 Kanban Demo</a>
        <a mat-button routerLink="/login">🔑 Login</a>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <!-- View More Menu -->
      <mat-menu #menu>
        <a mat-menu-item href="https://fireship.page.link/slak"
          ><i>💬</i><span>Chat on Slack</span></a
        >
        <a
          mat-menu-item
          href="https://github.com/codediodeio/angular-firestarter"
          ><i>💾</i><span>Code on Github</span></a
        >
        <a mat-menu-item href="https://fireship.io/course/angular"
          ><i>🔥</i><span>Full Course on Fireship</span></a
        >
        <a
          mat-menu-item
          href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA"
          ><i>📺</i><span>Watch on the YouTube</span></a
        >
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
